@import "tailwindcss";


@theme {
  --color-primary: #823b18;
  --color-primary-container: #a0522d;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #ffe1d6;
  --color-secondary: #3b6934;
  --color-secondary-container: #b9eeab;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #3f6d38;
  --color-surface: #fbf9f5;
  --color-surface-dim: #dbdad6;
  --color-surface-container: #efeeea;
  --color-surface-container-low: #f5f3ef;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #eae8e4;
  --color-surface-container-highest: #e4e2de;
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #54433c;
  --color-outline: #87736b;
  --color-outline-variant: #dac1b8;
  --color-background: #fbf9f5;
  --color-on-background: #1b1c1a;

  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background-color: #fbf9f5;
  color: #1b1c1a;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #a0522d;
  color: #ffffff;
}

.fiber-shadow {
  box-shadow: 0 20px 40px -10px rgba(160, 82, 45, 0.06);
}
